<html ng-app="myApp">
  <ion-header ng-controller="PopupCtrl">
    <ion-navbar>
      <button class="button" ng-click="loginForm()">
          Login
      </button>
      <button class="button" ng-click="createGroup()">
          Create Group
      </button>

      <script id="popup-template.html" type="text/ng-template">
        <input ng-model="data.wifi" type="text" placeholder="Password">
      </script>

    </ion-navbar>
  </ion-header>

  <body ng-controller="MyCtrl">
    <ion-content padding>
      <ion-list>
        <ion-item ng-repeat="item in items">
          Hello, {{item}}!
        </ion-item>
      </ion-list>
    </ion-content>
  </body>
</html>
